.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 50px;
  width: 400px;
  border-radius: 15px;
  font-size: 16px;
  transform: all 0.15s ease-in-out;

  &:focus {
    outline: #aa1c1c;
    border: 1px solid rgba(0, 0, 0, 0.2);
    // width: 450px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;
}

.clearIcon{
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }
}